lognormal(0,28.723,0.16) crown Azlycopodioides_xNYBG2433,Azlyallii_xCHR542359,Azrobusta_xCHR617278,Azranunculus_xNYBG2447,Azexigua_xWet1,Azhaastii_xBri6,Aznitens_xWai3,Azcockaynei_xMan10,Azallanii_xHikB1,Azpallida_xCra4,Azcolensoi_xBellA10,Azroughii_xSta1,Azhaastii_xPat10A,Azcyanopetala_xBro3,Azpallida_xBro4,Azhookeri_xTai,Azcyanopetala_xTak5,Azpolaris_xCamp2,Azhydrocotyloides_xDob6,Azfragosea_xCANB797854,Azhaastii_xEri1,Azburkartii_xNYBG714,Azschizeilema_xHoo
monophyletic NA Azlyallii_xCHR542359,Azrobusta_xCHR617278,Azranunculus_xNYBG2447,Azexigua_xWet1,Azhaastii_xBri6,Aznitens_xWai3,Azcockaynei_xMan10,Azallanii_xHikB1,Azpallida_xCra4,Azcolensoi_xBellA10,Azroughii_xSta1,Azhaastii_xPat10A,Azcyanopetala_xBro3,Azpallida_xBro4,Azhookeri_xTai,Azcyanopetala_xTak5,Azpolaris_xCamp2,Azhydrocotyloides_xDob6,Azfragosea_xCANB797854,Azhaastii_xEri1,Azburkartii_xNYBG714,Azschizeilema_xHoo
